.gitignore
.DS_Store
*.DS_Store
.DS_Store
past papers/
igcse books/
igcse things/
equipments/
Woods Knowledge/
nelson-econ-worksheets/
pearson-igcse-resources/
science booklet/
reference/manuals/
Downloads/
meme clickers/
mini 4wd parts/
vex super kit parts/
vex iq official/
x1 print library/
