<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.isaac.macadblock</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python3</string>
        <string>/Users/isaac/Desktop/MacAdBlock/src/macadblock.py</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardOutPath</key>
    <string>/tmp/macadblock.log</string>
    <key>StandardErrorPath</key>
    <string>/tmp/macadblock.log</string>
    <key>WorkingDirectory</key>
    <string>/Users/isaac/Desktop/MacAdBlock</string>
</dict>
</plist>
